a.button {
  text-decoration: none;
  line-height: 75px;
  color: #fff;
}

.button {
  background: $green;
  color: $white;
  padding: 10px 20px;
  text-align: center;
  appearance: none;
  transition: all .2s ease;
  border-radius-top-right: 3px;
  border-radius-bottom-right: 3px;
  border: none;
}

.button:hover {
  background: #333;
}
