footer {
  padding: 20px 0;
  // background: $darkblue;
  font-size: 0.9em;
  height: 200px;
  text-align: center;
}

footer ul {
  padding: 0;
}

footer li {
  display: inline;
  color: rgba(255,255,255,.2);
  padding: 5px 10px;
  line-height: 2.5em;
}

footer li .fa {
  margin-right: 5px;
}

footer li a {
  color: rgba(255,255,255,.4);
}

footer li a:hover {
  color: rgba(255,255,255,.8);
  text-decoration: none;
}
