header {
  background: rgba(0,0,0,.2);
  background: $blue;
  background: #34495e;
}

header .row {
  padding: 10px 0;
}

.s-logo,
.s-signup {
  padding: 0;
}


/**************************
  Header Logo Area

***************************/

header .s-logo a {
  transition: $transition;
  font-size: 2em;
  color: white;
}

header .s-logo a:hover {
  opacity: .8;
  text-decoration: none;
}

header img.img-logo {
  background: rgba(0,0,0,.2);
  border-radius: 20px;
  margin-top: -5px;
  margin-right: 5px;
}



/**************************
  Header Signup CTA

***************************/

header .s-signup {
  text-align: right;
}

header .fa {
  margin-left: 5px;
}

header .s-signup a {
  background: rgba(0, 248, 179, 1);
  background: rgba(0, 246, 228, 1);
  background: rgba(255, 92, 0, 1);
  background: rgba(249, 73, 144, 1);
  color: white;
  border-radius: 5px;
  text-align: center;
  padding: 10px 15px;
  transition: $transition;
  display: inline-block;
  margin-top: 2px;
}

header .s-signup a:hover {
  background: rgba(0, 246, 228, .8);
  background: $pink;
  text-decoration: none;
}
