.s-lead {
  background: #e74c3c;
  background: #2ecc71;
  background: #00e9b8;
  padding: 0 0px 25px 0;
  margin-bottom: 20px;
}

.s-lead h4 {
  color: rgba(255,255,255,1);
  font-weight: 400;
  margin: 0;
  font-size: 26px;
}

.lead {
  font-size: 2em;
  line-height: 1.3em;
  margin-bottom: 8px;
  font-weight: 500;
  margin-top: 40px;
  transition: $transition;
}

.lead a.logo {
  font-weight: 700;
  color: #4A4A4A;
}

.lead .small {
  font-size: medium;
  font-weight: normal;
}

.lead .small a {
  color: #27ae60;
  color: #397452;
}

.lead span.category {
  border-bottom: 2px solid rgba(0,0,0,.2);
  transition: $transition;
  width: auto;
}

.podcast-selection ul {
  padding: 0;
}

li.pod-list {
  list-style: none;
  // list-style-type: decimal-leading-zero;
  margin: 15px 0 15px 0;
  // padding-left: 20px;
  display: inline-block;
  width: 100%;
}

li.pod-list .pod-thumbnail {
  width: 100px;
  margin-right: 20px;
  float: left;
}

li.pod-list .pod-meta {

}

.podcast-selection select {
  display: inline-block;
  width: 10px;
  margin: 0 13px;
  position: relative;
  top: -4px;
  cursor: pointer;
}

.form-field {
    // margin-right: -10px;
    padding: 8px 20px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

#mc_embed_signup {
    font-size: 20px;
}
