<div class="row">
  <div class="small-12 medium-12 columns">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/">Ways to listen</a></li>
      <li><a href="/contact">Contact</a></li>
      <li><a href="http://twitter.com/hellosupercast" target="_blank">
        <i class="fa fa-twitter"></i>HelloSupercast
      </a></li>
      <!-- <li><a href="http://twitter.com/feelio_nyc" target="_blank">
        <i class="fa fa-twitter"></i>NYC
      </a></li>
      <li><a href="http://twitter.com/feelio_paris" target="_blank">
        <i class="fa fa-twitter"></i>Paris
      </a></li>
      <li><a href="http://twitter.com/feelio_sf" target="_blank">
        <i class="fa fa-twitter"></i>SF
      </a></li> -->
    </ul>
    <ul class="">
      <li>&copy; Supercast 2015</li>
    </ul>
  </div>
</div>


<!-- <script src="js/main.js"></script> -->
