<header ng-include src="'views/header.html'"></header>

<section>

  <div class="row">
    <div class="small-12 medium-12 columns">



      <div class="lead"><span>Supercast</span> is finding you the [most popular>] podcasts.</div>
      <div>(Are you new to podcasts? Find out <a href="#">how to listen</a>)</div>
      <!-- <h2>Find podcasts to listen to.</h2> -->
    </div>
  </div>

  <div ng-controller="SuperCtrl" class="row">
    <ul class="small-12 medium-12 columns">
      <li ng-repeat="entry in parsedEntries | filter: { category : 'Popular'}" class="pod-list">
        <strong>{{ entry.title }} </strong><br>
        {{ entry.description }}
       </li>
     </ul>
   </div>


</section>

<!--
<footer ng-include src="'views/footer.html'"></footer> -->
