<header ng-include src="'views/header.html'"></header>

<section>

  <div ng-controller="SuperCtrl" class="row podcast-selection">


    <ul class="small-12 medium-12 columns">
      <!-- <input type="text" class="form-control" ng-model="search" placeholder="Type Here to Filter Result ..." /> -->
      <div class="lead">
        <span>Supercast</span> is finding you the <select ng-model="find" ng-options="entry.category for entry in parsedEntries"><option value="">Select Category</option></select> podcasts.
      </div>
      <div>(Are you new to podcasts? Find out <a href="#">how to listen</a>)</div>

      <!-- <li ng-repeat="entry in parsedEntries | filter: { category : 'Popular'}" class="pod-list"> -->
        <li ng-repeat="entry in parsedEntries | filter: find" class="pod-list">
          <strong>{{ entry.title }} </strong><br>
          {{ entry.description }}
       </li>
     </ul>
   </div>


</section>

<!--
<footer ng-include src="'views/footer.html'"></footer> -->
