<header ng-include src="'views/header.html'"></header>

<section>

  <div ng-controller="SuperCtrl" class="row podcast-selection">

    <div class="lead">
      <span>Supercast</span> helps you find
      <select ng-init="find = 'popular'" ng-model="find" ng-options="entry.category as entry.category for entry in parsedEntries | unique: 'category' track by entry.category"><option value=""></option></select>{{find}} podcasts.

      <!-- <div ng-init="test1 = (data | orderBy:'name')"></div> -->



    </div>
    <div>(Are you new to podcasts? Find out <a href="#">how to listen</a>)</div>

    <ul class="small-12 medium-12 columns">
        <li ng-repeat="entry in parsedEntries | filter: find" class="pod-list">
          <img src="{{ entry.thumbnail }}" width="100" class="pod-thumbnail">
          <div class="pod-meta">
            <strong>{{ entry.title }} </strong><br>
            {{ entry.description }}
          </div>
       </li>
     </ul>
   </div>


</section>

<!--
<footer ng-include src="'views/footer.html'"></footer> -->
