<header ng-include src="'/views/header.html'"></header>

<section>

  <div class="row">
      <div class="small-12 medium-12 columns">
        <h1>10 Super Popular</h1>
      </div>
  </div>
  <!-- <div ng-controller="anotherCtrl" class="row" ng-init="init()">
    <div class="small-12 medium-12 columns">

      <ul ng-repeat="classes in results | filter:{gsx$category.$t: 'Popular'}" >
        <li>
          {{classes.gsx$title.$t}}
          ({{classes.gsx$description.$t}})
        </li>
      </ul>

    </div>
  </div> -->


  <div ng-controller="superController" ng-init="init()">

              <div ng-repeat="classes in results | filter:{gsx$region.$t: 'americas'} | filter:{gsx$position.$t:'primary'}">
                <div class="small-4 columns">
                  {{classes.gsx$name.$t}}
                </div>
                <div class="small-4 columns">
                  ({{classes.gsx$ldap.$t}}@)
                </div>
                <div class="small-4 columns">
                  {{classes.gsx$city.$t}}
                </div>
              </div>

              <div ng-repeat="classes in results | filter:{gsx$region.$t: 'AMERICAS'} | filter:{gsx$position.$t:'secondary'}">
                <div class="small-4 columns">
                  {{classes.gsx$name.$t}}
                </div>
                <div class="small-4 columns">
                  {{classes.gsx$ldap.$t}}
                </div>
                <div class="small-4 columns">
                  {{classes.gsx$city.$t}}
                </div>
              </div>

              <div ng-repeat="classes in results | filter:{gsx$region.$t: 'apac'} | filter:{gsx$position.$t:'primary'}">
                <div class="small-4 columns">
                  {{classes.gsx$name.$t}}
                </div>
                <div class="small-4 columns">
                  ({{classes.gsx$ldap.$t}}@)
                </div>
                <div class="small-4 columns">
                  {{classes.gsx$city.$t}}
                </div>
              </div>


</div>



</section>


<footer ng-include src="'/views/footer.html'"></footer>
