<header ng-include src="'/views/header.html'"></header>

<section>

  <div class="row">
      <div class="small-12 medium-12 columns">
        <h1>Popular Heya</h1>
      </div>
  </div>

  <div ng-controller="SuperCtrl" class="row">
    <ul class="small-12 medium-12 columns">
      <li ng-repeat="entry in parsedEntries | filter: { category : 'Popular'}">
        {{ entry['title'] }} <br />
        {{ entry['description'] }} <br />
        {{ entry['yo'] }} <br />
        {{ entry.yo }} <br />
        {{ yo }} <br />
       </li>
     </ul>
   </div>

</section>


<footer ng-include src="'/views/footer.html'"></footer>
