<header ng-include src="'/views/header.html'"></header>

<section>

  <div class="row">
      <div class="small-12 medium-12 columns">
        <h1>Popular</h1>
      </div>
  </div>
  <!-- <div ng-controller="anotherCtrl" class="row" ng-init="init()">
    <div class="small-12 medium-12 columns">

      <ul ng-repeat="classes in results | filter:{gsx$category.$t: 'Popular'}" >
        <li>
          {{classes.gsx$title.$t}}
          ({{classes.gsx$description.$t}})
        </li>
      </ul>

    </div>
  </div> -->


  <div ng-controller="SuperCtrl">
    <ul>
      <li ng-repeat="entry in parsedEntries | filter:{ entry['category'] : 'Popular'">
         {{ entry | json}} <br />
         {{ entry['category'] }} <br />
         {{ entry['description'] }} <br />
         {{ entry['title'] }} <br />
         {{ entry['url'] }} <br />
         {{ entry['yo'] }} <br />
       </li>
     </ul>
</div>



</section>


<footer ng-include src="'/views/footer.html'"></footer>
