<header ng-include src="'/views/header.html'"></header>

<section>

  <div class="row">
      <div class="small-12 medium-12 columns">
        <h1>Ways to listen</h1>
      </div>
  </div>
  <div class="row">
      <div class="small-12 medium-12 columns">
        <h3>"podcast"</h3>
        First and foremost. What does Podcast stand for? TK TK
        <h3>On your computer</h3>
        <ul>
          <li>tk</li>
        </ul>
        <h3>On your smartphone</h3>
        Here are a few apps you can download on your phone. Once downloaded, you can select and subscribe tp the
        <ul>
          <li>Pocket Cast</li>
        </ul>
      </div>
  </div>



</section>


<footer ng-include src="'/views/footer.html'"></footer>
